__pycache__
.env
.DS_Store
backup/*
certs/geraldyong-*.pem
backend/certs/geraldyong-*.pem
frontend/certs/geraldyong-*.pem
backend/__pycache__
backend/uploaded_files/*
docs_archived
prompts/*
iac/AppRunner
iac/error.txt
iac/terraform.tfvars
iac/terraform.tfvars.gerald
iac/terraform.tfstate*
iac/.terraform*
iac/archived
iac/.env
iac/logs
iac/kubernetes/archived
iac/kubernetes/backend-secret.yaml
